# --------------------------------------------
# DOCKER STUFF
# --------------------------------------------

## Postgres
POSTGRES_USER="materiaq"
POSTGRES_PASSWORD="materiaq_password"
POSTGRES_MULTIPLE_DATABASES="lyrics,auth,lyrics_test,auth_test"

## Redis/Valkey
VALKEY_PASSWORD="materiaq_valkey_password"